@page "/search"
@using FavoriteMovies.Shared
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications


<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" @bind="@searchTerm" />
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="SearchOMDB">Search</button>
        </div>
    </div>
</div>

@if (OMDBMovies is not null) {
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfPager @ref="Page" PageSize="10" TotalItemsCount="@totalItems" ItemClick="PageClick">
                </SfPager>
                <SfGrid TValue="MovieSearchResultItem" DataSource="OMDBMovies"
                        @ref="MoviesGrid"
                        AllowResizing="true"
                        Toolbar="@(new List<object>() { new ItemModel() { Text = "Add Movie", PrefixIcon="e-add", Id="GridMovieAdd" }})">
                    <GridSelectionSettings  Type="SelectionType.Multiple" />
                    <GridEvents RowSelected="GetSelectedRecords"
                                OnToolbarClick="ToolbarClickHandler"
                                TValue="MovieSearchResultItem"></GridEvents>
                    <GridColumns>
                        <GridColumn Field="Title" HeaderText="Movie Title" Width="200"></GridColumn>
                        <GridColumn Field="Year" HeaderText="Movie Year" Width="100"></GridColumn>
                        <GridColumn Field="Type" HeaderText="Movie Type" Width="100"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
            <div class="col-4">
                <img src="@(selectedPoster ?? "")" />
            </div>
        </div>
    </div>
}
<SfToast    @ref="ToastObj" Title="Added Movie"
             Content="@toastContent"
             ShowCloseButton="true"
             ShowProgressBar="true"
             CssClass="@toastSuccess"
             Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
